<head>
  <title>flow-router</title>
</head>

<body>
  <a href="/about">Test</a><br>
  <a href="/terms">Terms</a><br>
  <a href="/todo">TODO</a><br>
  <a href="/campaigns">Campaigns</a><br>
  {{> applicationLayout}}
</body>

<template name="applicationLayout">
  {{> Template.dynamic template=main}}
</template>