<template name="campaign_list">
	<br>
	<b>Campaigns</b><br>
	{{#each campaigns campaign}}
		<a href="/campaigns/{{_id}}">{{title}}</a><br>
	{{/each}}
	<br><br>
	New Campaign
	<br>
    <form class="new-campaign">
    	<input type="text" name="title" placeholder="Title" /><br>
    	<input type="text" name="user" placeholder="User" /><br>
    	<input type="text" name="amount" placeholder="Donation Amount" /><br>
    	<input type="text" name="goal" placeholder="Donation Goal" /><br>
    	<input type="submit" value ="Create New Campaign" />
  	</form>
</template>